<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3c.org/1999/xhtml">
<head th:replace="common/header :: common-header" />


<body>
	<div th:replace="common/header :: navbar" />

	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Hello World</h1>
		<p>This example is a quick exercise to illustrate how the default,
			static navbar and fixed to top navbar work. It includes the
			responsive CSS and HTML, so it also adapts to your viewport and
			device.</p>
		<p>
			<a class="btn btn-lg btn-primary" href="../../components/#navbar"
				role="button">View navbar docs &raquo;</a>
		</p>
	</div>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
